<<<<<<< HEAD
h1 {color: royalblue; }
h2 {color: rgb(145, 27, 27); }
a {color:rgb(180, 132, 226);}
h3 {color:blueviolet;}
=======
h1 {color: royalblue; }
h2 {color: rgb(145, 27, 27); }
a {color:rgb(180, 132, 226);}
h3 {color:blueviolet;}
>>>>>>> 09ce184f1d738532efff68c6e09dba9f4c909df9
ul {list-style-type: square;}
h4 {color: brown; }
h5 { color: aqua; }